element.style{
padding-bottom: 354px;
}
body {
    background-color: rgba(255, 255, 255, 1);
}
html, body {
    font-size: 14px;
    font-family: 'KreonLight';
}
html, body, .contact-input {
    color: rgba(107, 93, 72, 1);
}
body {
    font-family: sans-serif;
    background: #fff;
    position: relative;
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
}
html, body {
    font-size: 14px;
}
body {
    line-height: 1rem;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
body::before {
    position: absolute;
    top: 0;
    z-index: 5;
    display: inline-block;
    width: 100%;
    height: 20px;
    background-image: url();
    background-repeat: repeat-x;
    background-size: 15px 20px;
    content: '';
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}


.boom-button, .cp__alboom-ty{
    background-color:rgba(34, 65, 16, 0.46);
    color:rgba(255, 255, 255, 1);
    font-family:'KreonLight';
    border-radius:10px;}
.boom-button, .cp__alboom-type, body .cp__alboom-type:hover{
    border-color:rgba(255, 255, 255, 1);}
.boom-button:hover{
    background-color:rgba(34, 66, 16, 1);}
.boom-button:hover, .cp__alboom-type:hover{ 
    color:rgba(255, 255, 255, 1);}
.mhm__item{
    color:rgba(102, 71, 62, 1);}
.mhm__item:hover{
    color:rgba(34, 65, 16, 0.6);}
.main-header{
    background-color:rgba(255, 255, 255, 0);}
html, body, .contact-input{
    color:rgba(107, 93, 72, 1);}
.cs__title{
    color:rgba(107, 93, 93, 1);
    font-family:'KreonLight';}
.fr-view a{
    color:rgba(34, 65, 16, 1);}
.fr-view a:hover{
    color:rgba(34, 65, 16, 1);}
.footer{
    background-color:rgba(255, 255, 255, 1);
    color:rgba(107, 93, 72, 1);}
.footer .boom-button, .footer .cp__alboom-type{
    background-color:rgba(107, 93, 72, 0.52);
    border-color:rgba(255, 255, 255, 1);
    color: rgba(188, 115, 109, undefined);}
.mh__menu{
    font-family:'KreonLight';}
h2.cs__title{
    font-size:22px;}
html, body{
    font-size:14px;
    font-family:'KreonLight';}
.b__info .b__heading{
    font-family:'KreonLight';
    font-size:24px;
    letter-spacing:0px;}
.b__info .b__subtitle{
    font-family:'KreonLight';}
.b__info{
    color:rgba(107, 93, 72, 1);}
body:not(.sidenav) .mhm__item{
    padding:10px 4px;}
body.sidenav .mhm__item{
    padding-top:4px;
    padding-bottom:4px;}
.mh__logo figure img{
    max-width:100%;
    max-height:100%;}
body{
    background-color:rgba(255, 255, 255, 1);}
.mh__menu, .mhm__item{
    font-size:16px;
    letter-spacing:2.5px;}
.nav-drawer .ndc__item:hover{
    color:rgb(34, 65, 16);}
.content-preview:hover .cp__thumbnail:before{
    background-color:rgba(255, 255, 255, .8);}



   
    
    